
{% if messages %}
<div class="alert alert-dismissible fade show" role="alert">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% else %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}